.filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 20px;
    margin: 0 0 50px 0;
}

.filmItem {
    width: 200px;
    height: 300px;
    margin: 55px 15px;
}

.filmPoster {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: solid 2px;
}

.filmName {
    height: 60px;
    font-weight: 700;

}

.filmYear {
    font-weight: 500;
    font-size: 16px;
}
.addFilms {
    display:  inline-block;
    width: 200px;
    height: 50px;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-size: 20px;
    font-weight: 700;
    border: solid 2px black;
    cursor: pointer;
    background-color: rgb(166, 241, 197);
}
.addFilms:hover {
    background-color: rgb(175, 163, 230);
}

.addFilmsDis {
    cursor: default;
}
.addFilmsDis:hover {
    cursor: default;
    background-color: rgb(166, 241, 197);
}

